.bg-image {
    width: 100%;
    background-size: cover;
    background-position: center;
    background-color: $colour-white;
}

.rte {
	img {
		display: inline-block;

		&:not(:only-child) {
			margin-right: 20px;
		}
	}
}